asgiref==3.4.1
captcha==0.4
certifi==2022.5.18.1
charset-normalizer==2.0.12
decorator==4.4.2
Django==3.2.12
django-markdown-deux==1.0.5
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-registration-redux==2.10
django-simple-captcha==0.5.17
idna==3.3
imageio==2.15.0
imageio-ffmpeg==0.4.7
importlib-resources==5.4.0
markdown2==2.4.2
moviepy==1.0.3
mysqlclient==2.1.0
numpy==1.19.5
opencv-python==4.6.0.66
Pillow==8.4.0
proglog==0.1.10
pytz==2021.3
requests==2.27.1
scipy==1.5.4
sqlparse==0.4.2
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
zipp==3.6.0
